.header {
    padding: 50px 22px;
    min-height: 240px;
    text-align: center;
    color: #fff;
    background-color: #3f51b5;
  }

  body {
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    background-color: #e8eaf6;
  }
  
  .section {
    width: 96%;
    max-width: 960px;
    margin: 80px auto 80px auto;
    text-align: center;
  }

  .original {
    display: inline-block;
    margin: 0px auto;
  }

  .circular--square {
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }

